{
    "listen": "0.0.0.0:5000",
    "redis": [{
        "alias": "default",
        "addr": "127.0.0.1:6379",
        "password": "",
        "db": "0"
    },{
        "alias": "default2",
        "addr": "172.17.6.29:4013",
        "password": "",
        "db": "0"
    }]
}
